<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/pico.css">
    <script src="/static/js/app.js"></script>
</head>
<body class="container">
    <h1>Página de prueba</h1>
    <form>
        <div>
            <label for="texto">Introduce un texto</label>
            <input type="text" name="texto" id="texto">
        </div>
        <div>
            <button id="btnSubmit">Crear</button>
        </div>
    </form>
    <section id="parrafos">
        
    </section>
</body>
</html>